@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/variables' as *;

#acext-info-use-ss {
  all: initial;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  overflow-y: auto;
  margin: 2px;
  @include scrollbar;

  &.acext-light-ss {
    color: #000;
    background: $bg-primary;
  }

  &.acext-dark-ss {
    color: $text-dark-primary;
    background: $bg-dark-primary;
  }

  .acext-info-use-ol-ss {
    list-style-type: none;
    padding-left: 0;

    .acext-list-of-li-ss {
      list-style-type: none;
      padding-left: 0;

      &.acext-light-ss {
        &:focus-visible {
          outline: 2px solid $outline-light-focus-visible;
          background: $bg-light-focus-visible;
        }
      }

      &.acext-dark-ss {
        &:focus-visible {
          outline: 2px solid $outline-dark-focus-visible;
          background: $bg-dark-focus-visible;
        }
      }
    }
  }
}
