@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/variables' as *;

#acext-buttons-ss {
  display: flex;

  &.acext-light-ss {
    background: $bg-primary;
  }

  &.acext-dark-ss {
    background: $bg-dark-primary;
  }

  .acext-info-wrap-ss {
    flex: 1;

    .acext-link-to-source-ss {
      text-decoration: none;

      .acext-info-btn-ss {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 30%;
        cursor: pointer;

        &.acext-light-ss {
          border: 1px solid $bg-dark-primary;
          background: $bg-primary;

          &:hover {
            background: $hover-light;
          }

          &:active {
            background: $active-light;
          }

          &:focus-visible {
            outline: 2px solid $outline-light-focus-visible;
            background: $bg-light-focus-visible;
          }
        }

        &.acext-dark-ss {
          color: $bg-primary;
          border: 1px solid $bg-primary;
          background: $bg-dark-primary;

          &:hover {
            background: $hover-dark;
          }

          &:active {
            background: $active-dark;
          }

          &:focus-visible {
            outline: 2px solid $outline-dark-focus-visible;
            background: $bg-dark-focus-visible;
          }
        }
      }
    }
  }
}
