@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/variables' as *;

#acext-info-ss {
  display: flex;
  margin-bottom: 2px;

  &.acext-light-ss {
    background: $bg-primary;
  }

  &.acext-dark-ss {
    background: $bg-dark-primary;
  }

  .acext-more-info-container-ss {
    display: flex;
    justify-content: center;
    flex: 1;

    .acext-link-to-source-ss {
      text-decoration: none;
      border-radius: 30%;

      .acext-more-info-btn-ss {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30%;
        cursor: pointer;

        &.acext-light-ss {
          border: 1px solid $bg-dark-primary;
          color: #000;
          background: $bg-primary;

          &:hover {
            background: $hover-light;
          }

          &:active {
            background: $active-light;
          }

          &:focus-visible {
            outline: 2px solid $outline-light-focus-visible;
            background: $bg-light-focus-visible;
          }
        }

        &.acext-dark-ss {
          border: 1px solid $bg-primary;
          color: $text-dark-primary;
          background: $bg-dark-primary;

          &:hover {
            background: $hover-dark;
          }

          &:active {
            background: $active-dark;
          }

          &:focus-visible {
            outline: 2px solid $outline-dark-focus-visible;
            background: $bg-dark-focus-visible;
          }
        }
      }
    }
  }
}
