$bg-primary: #eee;
$bg-dark-primary: #2a2929;
$bg-dark-primary-inputs: #3d3c3c;
$bg-light-focus: #cfd3d3;
$bg-light-focus-visible: #21e3d3ff;
$bg-dark-focus: #565654;
$bg-dark-focus-visible: #a40690;

$border-primary: 1px solid black;
$border-radius-primary: 6px;
$border-dark-primary: #464545;

$padding-primary: 1px;

$text-dark-primary: #ccc8c8;

$hover-light: #eee063;
$hover-dark: #3a3838;

$outline-light-focus-visible: #0c8077;
$outline-dark-focus-visible: #fc00d1;

$active-light: #65e037;
$active-dark: #6e6d6d;
