@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/variables' as *;

#acext-panel-cookie-clicker-container-ss {
  @include container-styles;

  &.acext-light-ss {
    &:focus-visible {
      outline: 4px solid $outline-light-focus-visible;
    }
  }

  &.acext-dark-ss {
    &:focus-visible {
      outline: 4px solid $outline-dark-focus-visible;
    }
  }

  #acext-panel-cookie-clicker-container-ss::before,
  #acext-panel-cookie-clicker-container-ss::after {
    box-sizing: border-box;
  }

  #acext-grid-layout-cookie-clicker-ss {
    display: grid;
    grid-template-areas: 'toolbar';
    grid-template-rows: 33px;
    grid-template-columns: 200px;
    border-radius: 3px;

    &.acext-light-ss {
      background: $bg-primary;
    }

    &.acext-dark-ss {
      background: $bg-dark-primary;
    }
  }
}
