@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/variables' as *;

#acext-panel-container-ss {
  @include container-styles;

  #acext-panel-container-ss::before,
  #acext-panel-container-ss::after {
    box-sizing: border-box;
  }

  #acext-grid-layout-ss {
    display: grid;
    grid-template-areas:
      'toolbar'
      'selectTargetButton'
      'input'
      'buttonStart'
      'buttonStop'
      'buttonReset'
      'countInfo'
      'nextClick'
      'helperStatus'
      'info';
    grid-template-rows: 40px 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
    grid-template-columns: 200px;

    #acext-toolbar-container-ss {
      grid-area: toolbar;
    }

    #acext-select-target-button-container-ss {
      grid-area: selectTargetButton;
    }

    #acext-inputs-container-ss {
      grid-area: input;
    }

    #acext-button-start-ss {
      grid-area: buttonStart;
    }

    #acext-button-stop-ss {
      grid-area: buttonStop;
    }

    #acext-button-reset-ss {
      grid-area: buttonReset;
    }

    #acext-count-info-ss {
      grid-area: countInfo;
    }

    #acext-next-click-ss {
      grid-area: nextClick;
    }

    #acext-helper-status-ss {
      grid-area: helperStatus;
    }

    #acext-info-ss {
      grid-area: info;
    }
  }
}
