@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/variables' as *;

#acext-select-target-button-container-ss {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: $bg-primary;
}
