@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/variables' as *;

#acext-button-reset-ss {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  &.acext-light-ss {
    background: $bg-primary;
  }

  &.acext-dark-ss {
    background: $bg-dark-primary;
  }
}
