@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/variables' as *;

#acext-logic-buttons-container-ss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  &.acext-light-ss {
    background: $bg-primary;
  }

  &.acext-dark-ss {
    background: $bg-dark-primary;
  }

  button:nth-child(1) {
    margin-bottom: 1px;
  }

  button:nth-child(2) {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  button:nth-child(3) {
    margin-top: 1px;
    margin-bottom: 1px;
  }
}
